
.search{
    border-radius: 5px;
    border: 1px solid #229EC0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.search_icon{
font-size: 25px;
color: wheat;
}
.search input{
    border: none;
    width: 230px;
}

.search button{
    border: none;
    background-color: teal;
    padding: .5rem;
    color: white;
    font-weight: 500;
}