.followers_container{
     height: fit-content;
     background: transparent;
     margin-top: 2rem;
     height: 350px;
     border-radius: 10px;
     color: white;
     overflow: hidden;
     text-align: center;
     border: 1px solid teal;
     padding-top: 1rem;
     overflow-x: hidden;
     overflow-y: auto;

}

.element p{
     padding:0;
     margin:0;
}